#page-container {
    min-height: 100%;
    position: relative;
}



footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.footer-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fdfafa;
    margin: 0 auto 20px;
    padding: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin-right: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    
    color: #333;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    text-decoration: none;
}
.fa-facebook-b{ width: 40px;
    height: 40px;
    border: 50%;

}
.img_footer{
    width: 40px;
    height: 40px;
    border: 50%;
}
