

.navbar{    
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.head{
    display: flex;
    flex-direction: wrap;
    border: solid rgba(158, 107, 107, 0.219); 
    border-width: 3px;
    align-content: center;
    justify-content: space-between;
    height: 100%;
    background-color:#111010;
    width: 100%;
    z-index: 100%;
}
.logo{
    display: flex;
}
.logo5{
    width: 75px ;
    border-radius: 50%;
    

}
.navbar a{
    display: flex;
    flex-direction: wrap;
    padding: 15px 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Explora', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-weight: 100;
}

.navbar a:hover{
    background-color: black;
}